/* Estilos de machine_ec.html */
/* Donde se agregan los avatares */
#avatars_cont{
  float: left;
  width: 100%;
  height:auto;
  min-height: 100px;
  border: 1px solid blue;
  border-radius: 4px;
  min-width: 670px;
}
/* Donde se agregan las partes */
#plus_cont {
  float: left;
  border: 1px solid transparent;
  border-radius:4px; 
  width: 84px;
  margin-right:2px;
}
#img2add {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  height: 64px;
  width: 64px;
} 
/* Normales de machine.html */
#contend{
  float: left;
  width: 100%;
  height: auto;
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 670px;
  padding: 2px 0px 5px 0px;
}
/* used for a ec rol */
#components_cont_ec{
  float: left;
  width: 100%;
  height: 182px;
  min-height: 182px;
  border: 1px solid silver;
  border-radius: 4px;
  min-width: 670px;
}
#components_cont_ec a{
  float:left; 
  position:relative; 
  width:140px; 
  height: 180px; 
  min-height: 180px; 
  border: 1px solid silver; 
  border-radius: 4px; 
  margin: 0 5px 0px 0px;
  text-decoration: none;
}
#components_cont_ec a:visited{
  float:left; 
  position:relative; 
  width:140px; 
  height: 180px; 
  min-height: 180px; 
  border: 1px solid silver; 
  border-radius: 4px; 
  margin: 1px 5px 1px 0px;
}
#components_cont_ec a:hover{
  background-color: #e6e6e6;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #e6ebff;
  color: black;
  cursor: pointer;
  padding: 8px 8px 4px 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.6s;
  border-bottom: 2px solid blue;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #8099ff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 8px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 12px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

