{% extends "base2.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/machine.css' )}} ">
{% endblock %}
{% block content %}
<h3 style="width:100%; margin: 0 auto;">
  {% if machined['a_status'] == 6 %}
  Agregar partes de la maquina {{ machined['name'] }}
  {% else %}
  Crear una nueva Máquina
  {% endif %}
</h3>
<div id="components_cont_ec" >
  {% for part in parts %}
  <a href="{{ url_for('part', id_p=part['id'], rol=0 ) }}">
    <img class="part_disp_img" src="{{ url_for('static', filename='images/avatars/parts/local/') }}{{ part['avatar'] }}" >
    <div class="part_disp_des" style = "text-align: center;">
      <b>{{ part['name']}}</b><br>
      {{ part['ordinal'] }} <br>
      {{ part['description'] }}
    </div>
  </a>
  {% endfor %} 
  <div id="part2add" style="float:left; position:relative; width:140px; height: 180px; 
    min-height: 180px; border: 1px solid silver; border-radius: 4px; margin: 0 5px 0px 0px;">
    <img id="img2add" src="{{ url_for('static', filename='images/avatars/parts/default/default.png') }}">
    <div class="part_disp_des" style="font: 10px Courier New; color:black;">
      <form method='POST' novalidate>
        {{ formp.hidden_tag() }}
        <br>
        {{ formp.name.label }} <br> {{ formp.name(size=12, value=machined['name']+"_parte_"+part_ord ) }} <br> 
        {{ formp.ordinal.label}} {{ formp.ordinal(style="width:50px;")}} <br>
        {{ formp.avatarp(size=12) }} 
        {{ formp.machine_id(value=machined['id'], style="width:50px; display:none") }}
        {{ formp.submit }}
      </form>
    </div>
  </div>
  <div id="plus_cont">
    <img src="{{ url_for('static', filename='images/plus.png') }}" style="width:84px; height:84px;"
      alt="Ingresar un componente">
  </div>
</div>

<div id="parts_disp">
  {% for part_t in parts_t %}
  <div id="p_{{ part_t['avatar'][:-4] }}" style="float:left; position:relative; width:110px; height: 200px;
    min-height: 180px; border: 1px solid brown; border-radius: 4px; margin: 0 5px 0px 0px;">
    <img class="part_disp_img" src="{{ url_for('static', filename='images/avatars/parts/default/')}}{{part_t['avatar']}}">
    <div class="part_disp_des">
      <span style="text-align:center;color:red">
        <p><b>{{ part_t['name'] }}</b></p>
      </span>
      <div style="height: 85px ;text-align:justify; font-size: 10px; overflow: auto;">
        {{ part_t['description'] }} 
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  <button class="accordion">Descripción / Journal</button>
  <div class="panel">
    <div class="m_field">
      <table>
        <tr>
          <td style="width:200px;min-width:200px;">Descripción: </td>
          <td class="d_value" style="width:82%;min-width:280px;">{{ machined['description'] }}</td>
          <td><i class="fas fa-pen-alt"></i></td>
          <td><i class="fas fa-circle-question"></i></td>
        </tr>
      </table>

    </div>
    <div id="visual_des">
      <a href="#">Ver todo</a>
      <a href="#">+Ingresar evento</a>
    </div>
  </div>
</div>
{{ machined['a_status']}}
<script>

</script>

{% endblock %}